/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
}

/* imagem de fundo */
main {
  background: url(./images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

/* USUÃRIO FOTO */
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* TEXTOS */
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

span {
  opacity: 0.5;
}

p {
  margin-top: 1.5rem;
}

/* LINKS */
a {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--grey);
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
